[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "pydocsgenie"
version = "0.1.dev0"
author = "pydocsgenie"
description = "A docstring generator for python code"
requires-python = ">=3.7"

[project.scripts]
docsgenie = "pydocsgenie.gui:run_gui"